<form class="formulario" method="post" action="login_registrar.php">
    <h1>Registrate</h1>
    <a class="contenedor">
        <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <input type="text" placeholder="USUARIO" name="usuario" required>
        </div>
        <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <input type="text" placeholder="NOMBRE" name="nombre" required>
        </div>
        <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <input type="text" placeholder="APELLIDO" name="apellidos" required>
        </div>
        <div class="input-contenedor">
            <i class="fas fa-envelope icon"></i>
            <input type="text" placeholder="CORREO" name="correo" required>
        </div>
        <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <input type="password" placeholder="CONTRASEÑA" name="pass" required>
        </div>
        <input class="button" type="submit" value="Registrar" name="btnregistrar">
    </a>
    <p>¿Ya tienes una cuenta?<a href="iniciarsecion.html"> Iniciar Sesion</a></p>
    
</form>