/* esto es el cuerpo osea el catalogo de las peliculas*/
.lista-peliculas{
    margin: 0;
    padding: 3%;
    display:  grid;
    justify-content: center;
    align-items: center;

}
.lista-peliculas h1{
    font-size: 28px;  


}
.col img{
    box-shadow: -3px -2px 20px 0px #706f6fd6;
   
}
.col a img{
    padding-bottom: 2%;
    border-radius: 7px
}
.col a {
    font-size: 18px;
}
.container{
    padding-top: 2%;
    padding-bottom: 1%;
    border-radius: 5px;
    
}
.container-Recomendado{
    padding-bottom: 3%;
}
.container-Recomendado h1{
    padding-left: 3%;
}
.container-Peliculas{
    padding-bottom: 3%;
}
.container-Peliculas h1{
    padding-left: 3%;
}
.container-Series{
    padding-bottom: 3%;
}
.container-Series h1{
    padding-left: 3%;
}
/* aqui finaliza el esto es el cuerpo osea el catalogo de las peliculas*/