<div class="lista-peliculas">
  
  <div class=" container-Recomendado">
  <h1>Recomendado para ti</h1>
  <div class="container bg-dark text-center">
      <div class="row align-items-start">
        <div class="col fila-recompati">
         <a href=""><img src="\assets\peliculas_img\pulpfiction.jpg" alt="pulpfiction"  width="60%">
          <br>
          Pulp Fiction</a>
        </div>
        <div class="col fila-peliculas">
          <a href=""><img src="\assets\series_img\starwarsthebadbatch.jpg" alt="the bad batch" width="60%">
          <br>
          THE BAD BATCH</a>
        </div>
        <div class="col fila-peliculas">
          <a href=""><img src="\assets\series_img\Breakingbad_img.jpg" alt="Breakingbad_img" width="60%">
          <br>
          Breakingbad</a>
        </div>
        <div class="col fila-peliculas">
          <a href=""><img src="\assets\peliculas_img\elpadrino.jpeg" alt="elpadrino" width="60%">
          <br>
          El padrino</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class=" container-Peliculas">
      <h1>Peliculas</h1>
      <div class="container bg-dark text-center">
          <div class="row align-items-start">
            <div class="col fila-peliculas">
             <a href=""><img src="\assets\peliculas_img\elpadrino.jpeg" alt="El padrino"  width="60%">
              <br>
              El padrino</a>
            </div>
            <div class="col fila-peliculas">
              <a href=""><img src="\assets\peliculas_img\harry.png" alt="Harry Poter" width="60%">
              <br>
              Harry Poter</a>
            </div>
            <div class="col fila-peliculas">
              <a href=""><img src="\assets\peliculas_img\joker.jpg" alt="Joker" width="60%">
              <br>
              Joker</a>
            </div>
            <div class="col fila-peliculas">
              <a href=""><img src="\assets\peliculas_img\starwars.jpg" alt="Star Wars" width="60%">
              <br>
              Star Wars</a>
            </div>
          </div>
        </div>
      </div>
  
      <div class=" container-Series">
          <h1>Series</h1>
          <div class="container bg-dark text-center">
              <div class="row align-items-start">
                <div class="col fila-series">
                 <a href=""><img src="\assets\series_img\Breakingbad_img.jpg" alt="Breakingbad"  width="60%">
                  <br>
                  El padrino</a>
                </div>
                <div class="col fila-peliculas">
                  <a href=""><img src="\assets\series_img\mandalorian.jpg" alt="mandalorian" width="60%">
                  <br>
                  Harry Poter</a>
                </div>
                <div class="col fila-peliculas">
                  <a href=""><img src="\assets\series_img\peaky.jpg" alt="peaky" width="60%">
                  <br>
                  Joker</a>
                </div>
                <div class="col fila-peliculas">
                  <a href=""><img src="\assets\series_img\thelast.jpg" alt="thelast" width="60%"> 
                  <br>
                  Star Wars</a>
                </div>
              </div>
            </div>
          </div>
  </div>