<header>
  <nav class="navbar bg-dark navbar-expand-lg border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand titulo-nav" href="#">IssmaStreaming</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Sign up</a>
            </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Pablito</a>
          </li>
        </ul>
        <div class="perfil-container">
          <img class="perfil-img" src="\assets\foto_perfil\foto1.jpg" alt="Foto de perfil">
        </div>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
  
</header>

<body>
<router-outlet></router-outlet>

<div class="lista-peliculas">
  
<div class=" container-Recomendado">
<h1>Recomendado para ti</h1>
<div class="container bg-dark text-center">
    <div class="row align-items-start">
      <div class="col fila-recompati">
       <a href=""><img src="\assets\peliculas_img\pulpfiction.jpg" alt="pulpfiction"  width="60%">
        <br>
        Pulp Fiction</a>
      </div>
      <div class="col fila-peliculas">
        <a href=""><img src="\assets\series_img\starwarsthebadbatch.jpg" alt="the bad batch" width="60%">
        <br>
        THE BAD BATCH</a>
      </div>
      <div class="col fila-peliculas">
        <a href=""><img src="\assets\series_img\Breakingbad_img.jpg" alt="Breakingbad_img" width="60%">
        <br>
        Breakingbad</a>
      </div>
      <div class="col fila-peliculas">
        <a href=""><img src="\assets\peliculas_img\elpadrino.jpeg" alt="elpadrino" width="60%">
        <br>
        El padrino</a>
      </div>
    </div>
  </div>
</div>

<div class=" container-Peliculas">
    <h1>Peliculas</h1>
    <div class="container bg-dark text-center">
        <div class="row align-items-start">
          <div class="col fila-peliculas">
           <a href=""><img src="\assets\peliculas_img\elpadrino.jpeg" alt="El padrino"  width="60%">
            <br>
            El padrino</a>
          </div>
          <div class="col fila-peliculas">
            <a href=""><img src="\assets\peliculas_img\harry.png" alt="Harry Poter" width="60%">
            <br>
            Harry Poter</a>
          </div>
          <div class="col fila-peliculas">
            <a href=""><img src="\assets\peliculas_img\joker.jpg" alt="Joker" width="60%">
            <br>
            Joker</a>
          </div>
          <div class="col fila-peliculas">
            <a href=""><img src="\assets\peliculas_img\starwars.jpg" alt="Star Wars" width="60%">
            <br>
            Star Wars</a>
          </div>
        </div>
      </div>
    </div>

    <div class=" container-Series">
        <h1>Series</h1>
        <div class="container bg-dark text-center">
            <div class="row align-items-start">
              <div class="col fila-series">
               <a href=""><img src="\assets\series_img\Breakingbad_img.jpg" alt="Breakingbad"  width="60%">
                <br>
                El padrino</a>
              </div>
              <div class="col fila-peliculas">
                <a href=""><img src="\assets\series_img\mandalorian.jpg" alt="mandalorian" width="60%">
                <br>
                Harry Poter</a>
              </div>
              <div class="col fila-peliculas">
                <a href=""><img src="\assets\series_img\peaky.jpg" alt="peaky" width="60%">
                <br>
                Joker</a>
              </div>
              <div class="col fila-peliculas">
                <a href=""><img src="\assets\series_img\thelast.jpg" alt="thelast" width="60%"> 
                <br>
                Star Wars</a>
              </div>
            </div>
          </div>
        </div>
</div>

</body>

<footer>
<div class="footer-container">
    <div class="footer-content">
        <h3>Contact Us</h3>
        <p>IssmaStreaming@Streaming.com.mx</p>
        <p>Phone:+52 495-484-9587</p>
        <p>Direccion: Enrique Segovianos</p>
    </div>
    <div class="footer-content">
        <h3>Quick Links</h3>
         <ul class="list">
            <li><a href="">Inicio</a></li>
            <li><a href="">Nosotros</a></li>
            <li><a href="">Servivcios</a></li>
            <li><a href="">Peliculas</a></li>
            <li><a href="">Contacto</a></li>
         </ul>
    </div>
    <div class="footer-content">
        <h3>Follow Us</h3>
        <ul class="social-icons">
         <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"><img src="\assets\redes_img\facebook.png" alt="facebook" width="50px"></i></a></li>
         <li><a href=""><i class="fab fa-twitter"></i><img src="\assets\redes_img\twitter.png" alt="twitter" width="50px"></a></li>
         <li><a href=""><i class="fab fa-instagram"><img src="\assets\redes_img\instagram.png" alt="instagram" width="50px"></i></a></li>
         <li><a href=""><i class="fab fa-linkedin"></i></a></li>
        </ul>
        </div>
</div>
<div class="bottom-bar">
    <p>&copy; 2023 your company . All rights reserved</p>
</div>
</footer>

