*{
    margin: 0;
    padding: 1;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;  
    background-size: cover;
    background-attachment: fixed;  
}
body{
    background-image: url("../assets/backgroung/fondo.jpg");
}

/* para colocar foto de perfil*/
.perfil-container {
    width: 55px; /* Ajusta el tamaño según tu preferencia */
    height: 55px;
    border-radius: 50%; /* Esto hace que la imagen sea circular */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del círculo */
    margin-right: 40px; /* Espacio entre la imagen y el formulario de búsqueda */
  }
  .perfil-img {
    width: 100%; /* Asegura que la imagen ocupe todo el espacio del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
  }
  /* aqui finalisa el para colocar foto de perfil*/

/* esto es el cuerpo osea el catalogo de las peliculas*/
.lista-peliculas{
    margin: 0;
    padding: 3%;
    display:  grid;
    justify-content: center;
    align-items: center;

}
.lista-peliculas h1{
    font-size: 28px;  


}
.col img{
    box-shadow: -3px -2px 20px 0px #706f6fd6;
   
}
.col a img{
    padding-bottom: 2%;
    border-radius: 7px
}
.col a {
    font-size: 18px;
}
.container{
    padding-top: 2%;
    padding-bottom: 1%;
    border-radius: 5px;
    
}
.container-Recomendado{
    padding-bottom: 3%;
}
.container-Recomendado h1{
    padding-left: 3%;
}
.container-Peliculas{
    padding-bottom: 3%;
}
.container-Peliculas h1{
    padding-left: 3%;
}
.container-Series{
    padding-bottom: 3%;
}
.container-Series h1{
    padding-left: 3%;
}
/* aqui finaliza el esto es el cuerpo osea el catalogo de las peliculas*/


/*el footer*/
footer{
   
    background: #343434;
    padding-top: 50px;
}
.footer-container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #84B1D9;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    color: #84B1D9;
}
.social-icons i:hover{
    color: #84B1D9;
}
.bottom-bar{
    background: #84B1D9;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}
/*aqui finaliza el footer*/

